#avidcaster-iframe {
  min-height: 40%;
}

yt-live-chat-text-message-renderer:hover {
  cursor: pointer;
}

yt-live-chat-text-message-renderer.avidcaster-dispatched {
  background-color: #555555 !important;
  opacity: 0.4;
}

.avidcaster-dispatched:hover {
  opacity: 0.6;
}

yt-live-chat-text-message-renderer.avidcaster-deleted {
  display: none;
}
