#avidcaster-iframe {
  min-height: 40%;
}

yt-live-chat-text-message-renderer:hover {
  cursor: pointer;
}

yt-live-chat-text-message-renderer.shown-comment {
  background-color: #555555 !important;
  opacity: 0.4;
}

.shown-comment:hover {
  opacity: 0.5;
}

yt-live-chat-text-message-renderer.avidcaster-deleted {
  display: none;
}
